<main class="main">

    <div class="banner">
        <div class="banner-main">
            <h1 class="nav-link">Contacts</h1>
            <p class="nav-link">
                <em>Store your contacts!</em>
            </p>
            <a href="/number" class="nav-link btn-banner">
                Let's get started
            </a>
        </div>
    </div>

    <div class="container-info">
        <div class="info-main">
            <h2>Save your contacts quickly and easily</h2>
            <img src="/img/celu-manos.jpeg" alt="imagen celular">
        </div>
    </div>

    <div class="container-info">
        <div class="info-main">
            <h2>Store your contacts safely</h2>
            <img src="/img/celu-naranja.jpeg" alt="imagen celular">
        </div>
    </div>

    <div class="container-info">
        <div class="info-main">
            <h2>Backups and efficient organization</h2>
            <img src="/img/celu.jpeg" alt="imagen celular">
        </div>
    </div>

</main>