<main class="main">
    <div class="banner">
        <div class="banner-main">
            <h1 class="nav-link">Contacts</h1>
            <p class="nav-link">
                <em>Store your contacts!</em>
            </p>
            <a href="#" class="nav-link btn-banner">
                Let's get started
            </a>
        </div>

    </div>
    <div class="info">
        <h2>Prueba</h2>
    </div>
</main>