<div class="main-list">
    <div class="container-profile">
        <div class="container-profile-header">
            <img src="/img/perfil.png" alt="Foto perfil">
            <h2>User Profile</h2>
        </div>
        <br>
        <hr>
        <br>
        <div class="container-profile-body">
            <div>
                <h3>Full Name</h3>
                <input type="text" value="{{user.fullname}}" readonly>
            </div>
            <div>
                <h3>Username</h3>
                <input type="text" value="{{user.username}}" readonly>
            </div>
        </div>
    </div>
</div>