<header class="header">
    <nav class="nav">
        <a href="#"><img src="/img/logo.png" class="logo" alt="Logo"><p>Contacts</p></a>
        <ul class="nav-menu">
            <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">SignUp</a></li>
            <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Log In</a></li>
        </ul>
    </nav>
</header>