<main class="main-add">
    
    <div class="card-main">
        <img class="sign-icono" src="/img/icono.png" alt="Icono">
        <h1>Log In</h1>
        <div class="card-body">
            <form action="/signin" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <button class="btn-green">
                        Log In
                    </button>
                </div>
            </form>
        </div>
        <hr>
        <br>
        <p>You do not have an account yet? <a href="/signup">SignUp</a></p>
        <br>
    </div>
    
</main>